@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #6b717e;
  /* background: #ffe8e1; */
  background-image: url("/image/bg-pink-blue.jpg");
  
  @media (max-width: 600px) {
    background-image: url("/image/bg-pink-blue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* … */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
